src/main/resources/xsd/Demo.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bulain.com/jibx/demo/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="demo">
        <xs:sequence>
            <xs:element minOccurs="0" name="request" type="xs:string" />
            <xs:element minOccurs="0" name="response" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>