src/main/webapp/WEB-INF/wsdl/DemoServiceHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://demo.axis.bulain.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://demo.axis.bulain.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://demo.axis.bulain.com">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://demo.axis.bulain.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://demo.axis.bulain.com">
            <xs:import namespace="http://demo.axis.bulain.com/xsd"/>
            <xs:element name="setDemoService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="demoService" nillable="true" type="ax21:DemoService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ignore" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://demo.axis.bulain.com/xsd">
            <xs:complexType name="DemoService">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setDemoServiceRequest">
        <wsdl:part name="parameters" element="ns:setDemoService"/>
    </wsdl:message>
    <wsdl:message name="getValueRequest">
        <wsdl:part name="parameters" element="ns:getValue"/>
    </wsdl:message>
    <wsdl:message name="getValueResponse">
        <wsdl:part name="parameters" element="ns:getValueResponse"/>
    </wsdl:message>
    <wsdl:portType name="DemoServiceHandlerPortType">
        <wsdl:operation name="setDemoService">
            <wsdl:input message="ns:setDemoServiceRequest" wsaw:Action="urn:setDemoService"/>
        </wsdl:operation>
        <wsdl:operation name="getValue">
            <wsdl:input message="ns:getValueRequest" wsaw:Action="urn:getValue"/>
            <wsdl:output message="ns:getValueResponse" wsaw:Action="urn:getValueResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DemoServiceHandlerSoap11Binding" type="ns:DemoServiceHandlerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setDemoService">
            <soap:operation soapAction="urn:setDemoService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getValue">
            <soap:operation soapAction="urn:getValue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemoServiceHandlerSoap12Binding" type="ns:DemoServiceHandlerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setDemoService">
            <soap12:operation soapAction="urn:setDemoService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getValue">
            <soap12:operation soapAction="urn:getValue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemoServiceHandlerHttpBinding" type="ns:DemoServiceHandlerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="setDemoService">
            <http:operation location="setDemoService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getValue">
            <http:operation location="getValue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DemoServiceHandler">
        <wsdl:port name="DemoServiceHandlerHttpSoap11Endpoint" binding="ns:DemoServiceHandlerSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DemoServiceHandler"/>
        </wsdl:port>
        <wsdl:port name="DemoServiceHandlerHttpSoap12Endpoint" binding="ns:DemoServiceHandlerSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DemoServiceHandler"/>
        </wsdl:port>
        <wsdl:port name="DemoServiceHandlerHttpEndpoint" binding="ns:DemoServiceHandlerHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DemoServiceHandler"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
