src/main/config/DemoService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bulain.com/jibx/service/DemoService" targetNamespace="http://bulain.com/jibx/service/DemoService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bulain.com/jibx/service/DemoService" xmlns:ns1="http://bulain.com/jibx/pojo" elementFormDefault="qualified" targetNamespace="http://bulain.com/jibx/service/DemoService">
      <xs:import namespace="http://bulain.com/jibx/pojo" schemaLocation="pojo.xsd"/>
      <xs:element name="test01">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="request" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="test01Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="test02">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns1:demo" name="request" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="test02Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns1:demo" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="test01Message">
    <wsdl:part name="part" element="tns:test01"/>
  </wsdl:message>
  <wsdl:message name="test01ResponseMessage">
    <wsdl:part name="part" element="tns:test01Response"/>
  </wsdl:message>
  <wsdl:message name="test02Message">
    <wsdl:part name="part" element="tns:test02"/>
  </wsdl:message>
  <wsdl:message name="test02ResponseMessage">
    <wsdl:part name="part" element="tns:test02Response"/>
  </wsdl:message>
  <wsdl:portType name="DemoServicePortType">
    <wsdl:operation name="test01">
      <wsdl:input message="tns:test01Message"/>
      <wsdl:output message="tns:test01ResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="test02">
      <wsdl:input message="tns:test02Message"/>
      <wsdl:output message="tns:test02ResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoServiceBinding" type="tns:DemoServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="test01">
      <soap:operation soapAction="urn:test01"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test02">
      <soap:operation soapAction="urn:test02"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoService">
    <wsdl:port name="DemoServicePort" binding="tns:DemoServiceBinding">
      <soap:address location="http://localhost:8080/axis2/services/DemoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>