src/main/config/pojo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bulain.com/axis2/pojo/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bulain.com/axis2/pojo/1.0">
    <xs:complexType name="demo">
        <xs:sequence>
            <xs:element minOccurs="0" name="request" type="xs:string"/>
            <xs:element minOccurs="0" name="response" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
